
/* This was cut from user.component.css as I want to make use of ngContent and use ut as for more */

/* The idea is to use the custom card component as a wrapper around the user.component and task.component*/

div {
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  