<section id="tasks">
    <header>
        
        <menu>
            <h2>{{ userName }}'s Tasks</h2>

            <!-- <button >Add Task</button> -->
            <!-- If user clicks button render new-task element -->

            
        </menu>
        
        <app-new-task [userId]="userId" (addTask)="newTaskAdded($event)"/>

        @if (addNewTask){
            <app-new-task-content />
        }

        
    </header>



    <ul> 
       @for (task of selectedUserTask; track task.id){ 
           <li>
               <app-task (complete)="onCompleteTask($event)" [task]="task"/>
           </li>
       } 
    </ul> 
</section>


<p>{{ userName }}</p>
